
/*

para poner caja en el medio

max-width: 1000px;
display: block;
margin: 0 auto;

  ----------------------------------------------                                             |
 |       -------------------------------       |
 |       | |-------------||------------| |     |
 |       | | menu        || iconos     | |     |       
 |       | |-------------||------------| |     |
 |       -------------------------------       |
 |                                             |

*/

 /* .container {
    float: left;
    padding-left: 50px;
    position: fixed;
    top: 0px;
    max-width: 100%;
} */


.slider {
    background-image: url("../img/slider/car1.jpg");
    background-size: 100%;
    padding-top: 580px;
    max-width: 100%;
    background-repeat: no-repeat;
}

.nav-container {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    background-color: red;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
}

/*
.nav-content {
    float: left;
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: white;
    margin-right: 30px;
}

.menu {
    float: left;
    height: 100px;
    margin-right: 400px;
}

.menu ul, 
.menu-right ul{
    margin-top: 35px;
}
.menu-right {
    float: left;
    height: 100px;
}

.menu li,
.menu-right li{
    display: inline;
    padding: 20px;
}

.nav-logo {
    float: left;
}

.nav-content a {
    text-decoration: none;
    color: white;
}

header section {
    position: fixed;
    top: 500px;
} */



